.toolbar-container {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.tool-menu {
    display: flex;
    align-items: center;
}

.tool-element {
    margin-left: 18px;
    width: 12px;
    height: 12px;
}

.search {
    display: flex;
    align-items: center;
    max-width: 200px;
    height: 40px;
    padding: 14px;
    border-radius: 28px;
    background: #FFFFFF;
    border: 0.5px solid #E2E8F0;
    transition: background 0.25s;
}

.search-input {
    flex: 1;
    font-size: 16px;
    color: #333;
    margin-left: 14px;
    border: none;
    outline: none;
    background: transparent;
}

.search-input::placeholder,
.search-icon {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 400;
}

.toolbar-signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-txt {
    font-size: 12px;
    font-weight: 700;
    color: #718096;
}
