.analytics-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#FFFFFF ;
    border-radius: 15px;
    width: 280px;
    padding:18px;
    height: 68px;
    margin: 4px;
    /* box-shadow: 2px 2px 5.5px 5.5px #000000;  */
}

.analytics-card-data{
width: 100px;
height: 42px;
}
.analytics-card-data-text{
font-weight: 700;
font-size: 12px;
color: #A0AEC0;
}
.analytics-card-data-num{
    margin-top: 4px;
    color: #2D3748;
    
}
.analytics-card-data-num span{
    margin-top:4px;
    font-size: 18px;
    font-weight: 700;
}
.analytics-card-data-num span:last-child {
margin-left: 4px;
font-size: 14px;
}
.analytics-card-img{
    display: flex;
    justify-content: center;
    align-items: center;

}