/* Ensure the page takes full height */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}

/* Main container to ensure full height */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap:8px;
}

/* Content area grows to push footer down */
.main-content {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 18px; /* Prevents content from touching the footer */
    overflow: auto; /* Handles content overflow */
    
}

/* Footer stays at the bottom */
.footerplace {
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 20px; /* Pushes the footer to the bottom only when needed */
}
